html, body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    font-size: small;
}

.grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 8fr 1fr;
}

header {
    text-align: right;
    vertical-align: middle;
}

li {
    list-style-type: none;
    display: inline;
}

footer {  

}

nav {
    height: 30px;
}

ul.head {
    height: 30px;
}

ul.head li {
    padding: 0 5px;
    height: 30px;
}

nav ul li.button {
    border: 1px solid #4285f4;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
    padding: 6px 5px 6px 5px;
}

li.button a {
    text-decoration: none;
    color: white;
}

li.button a:hover {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: grey;
}

a:visited {
    color: black;
}

li img {
    height: 15px;
    margin-top: 3px;
}

.left {
    float: left;
}

.right {
    float: right;
}