body {
    font-family: arial,sans-serif;
}

header {
    float: right;
}

li {
    list-style-type: none;
    display: inline;
}

footer {
    position: fixed;
}

.left {
    float: left;
}

.right {
    float: right;
}